@font-face {
  font-family: Textile;
  src: url("sunny.ttf") format("truetype");
}

@font-face {
  font-family: Fortnite;
  src: url("fortnite.otf");
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: cadetblue;
  margin: 0 auto;
  padding: 0px;
}

.hero {
  font-family: Textile, sans-serif;
}

.hero-subtitle {
  font-family: Fortnite;
  color: white;
}
